<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Kaushan+Script&display=swap"
			rel="stylesheet"
		/>

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<title>Quote Generator</title>
		<style>
			body {
				font-family: 'Fira Sans Condensed', sans-serif;
			}
			.author {
				font-family: 'Kaushan Script', cursive;
			}
			.container {
				height: 100vh;
			}
		</style>
	</head>
	<body class="teal lighten-5">
		<nav>
			<div class="nav-wrapper teal">
				<a href="#" class="brand-logo center"><img src="Q.png" alt="logo" style="width: 65px; height: 64.5px" /> </a>
			</div>
		</nav>

		<h5 style="margin-left: 20px">SERVING FROM AN AUTOSCALED ECS CLUSTER</h5>

		<div class="container valign-wrapper">
			<div class="row center">
				<div class="col s12 m6 offset-l3">
					<div class="card z-depth-3">
						<div class="card-image">
							<img src="<%= picture %>" alt="<%= alt  %>" />
							<div class="divider"></div>
						</div>
						<div class="card-content center">
							<h5>"<%= quote %>"</h5>
							<p class="right author"><em> -<%= author %> </em></p>
						</div>
						<div class="card-action">
							<a class="waves-effect waves-light btn-small pulse" href="/">Generate</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="application/json" src="js/materialize.min.js"></script>
	</body>
</html>
